/*
 * ##########################################################################
 * 
 *    code by: @Nyando
 *    github: www.github.com/anomalous254
 *
 * #########################################################################
 */
/*
 * ************************************
 *    Removing default browser configs
 * ************************************
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: var(--top-bar-col) var(--white);
  scrollbar-width: 2rem;
  font-size: .9rem;

}
/*
 * ************************************
 *  chrome/safari scrollbar new conf
 * ************************************
 */
 ::-webkit-scrollbar{
  width: 6px;
  
 }
 ::-webkit-scrollbar-thumb{
  background-color: var(--top-bar-col);
  border-radius: 20px;
 }
 ::-webkit-scrollbar-track{
  color: aqua;
 }

/*
 * **********************************
 *    css root variables
 * **********************************
 */
:root{
  --bg-color: rgb(28, 30, 33);
  --bg1-color: #1B1C1E;
  --top-bar-col: rgb(47, 86, 102);
  --bg2--: #1F1F1F;
  --bg3--: #2B2B2B;
  --bg4--: #303030;
  --bg5--: rgb(55, 65, 66);
  --bg6--: rgb(1, 3, 20);
  --bg7--: #00f5a3;
  --bg8--: rgb(0, 245, 163);
  --bg9--: #2f3b6d;
  --text-color: rgb(26, 204, 108);
  --font-text: .9rem;
  --light-blue: #23313d;
  --main-bg-color: #16202c;
  --main-bg-color2: #1d2026;
  --white: #16202c;
  --white-darken-1: #192433;
  --bg-test: #00986f;
  --bg-coloor: rgb(13, 17, 23);
  --font-fam: "Audiowide", sans-serif;
}
/*
 * **********************************
 *   root css styles for the page
 * **********************************
 */
body{
  background: var(--main-bg-color);
  
  font-family: var(--font-fam);
  color: #ffffff;
  scroll-behavior: smooth;
}
 /*
 * **********************************
 *  Menu bar  styles for Small views
 * **********************************
 */
 #small-view{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--main-bg-color);
  width: 95vw;
  height: 100vh;
  margin-left: 0;
  display: none;
 }
 .small-links{
  list-style: none;
 }
 .small-links > li{
  line-height: 2.6;
 }
 .small-links > li > a{
  font-size: 2.7rem;
  text-decoration: none;
  color: var(--text-color);
 }
 #menu-btn{
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
 }

#body-container{
  display: grid;
  grid-template-areas: 
  'nav nav nav'
  'content content content'
  'foot foot foot'
  ;
  grid-template-rows: 50px 2fr 20px;
  margin: 0 5%;
  gap: 20px;
  height: 100vh;

}
span{
  color: var(--text-color);
}

/*
 * **********************************
 *   Navbar css styles for the page
 * **********************************
 */
nav{
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-text);
  margin-top: 50px;
}
.logo{
  display: flex;
  align-items: center;
}
.logo-link{
  text-decoration: none;
}
.logo-title{
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 6px;
}

.nav-links{
  list-style: none;
}
.nav-links > li{
  display: inline-block;
  padding: 10px;
}
.nav-links > li > a{
  text-decoration: none;
  color: white;
}
#resume-btn-link{
  border: none;
  outline: none;
  background-color: transparent;
  height: 8vh;
  color: var(--bg7--);
  padding: 10px;
  border-radius: 6px;
  font-size: 1.3rem;
  border: 1px solid var(--bg-test);
  cursor: pointer;
  transition: all 350ms ease;
}
#resume-btn-link:hover{
  opacity: .7;
  background-color: var(--text-color);
  color: black;
}

/*
 * **********************************
 *   Main css styles for the page
 * **********************************
 */
main{
  grid-area: content;
  position: relative;
  margin-top: 35px;
}
.whatsapp{
  position: absolute;
  right: 0;
  top: 83%;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 350ms ease;
}
.whatsapp:hover{
  padding-right: 40px;
}

/*
 * **********************************
 *   footer css styles for the page
 * **********************************
 */
footer{
  grid-area: foot;
  text-align: right;
  font-size: var(--font-text);
}


/*#######################################################################*
 *                      Home Page CSS Styles                             *
 *#######################################################################*/

/*
 * **********************************
 *   Root css styles for home page
 * **********************************
 */

#home-page-container{
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-size: .4rem;
}

/*
 * **********************************
 *   Main css styles for home page
 * **********************************
 */

.profile{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: fit-content;
  border: 1px solid var(--bg-test);
  margin-top: 6px;
  background-color: #00986f;
  box-shadow: 0 0 10px var(--bg-test);
 
}
 .profile-pic{
  opacity: .9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--top-bar-col);
  height: 55vh;
 }

 .profession{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  padding: 10px;
  
 }

 .details{
  flex: .75;
 }
 .profile-info{
  text-align: left;
 }
 .greeting{
  color: var(--text-color);
  font-size: large;
 }

 .profession-title{
  color: gray;
  height: 70px;
  font-size: 2.9rem;
 }
 .profile-name{
  font-size: 7.5rem;
  word-wrap:break-word;
 }
 #whoami{
  color: var(--text-color);
  font-size: 1.3rem;
  line-height: 1.5;
  width: 100%;
 }

 .contact-me-btn{
  background-color: var(--bg-test);
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
  color: #ffff;
  width: 60%;
  margin-top: 10px;
  border-radius:  6px;
  transition: all 350ms ease;
  font-size: larger;
 }

 .contact-me-btn:hover{
  opacity: .6;
 }

 /*#######################################################################*
  *                      fontawesome icons CSS Styles                     *
  *#######################################################################*/
 .fa-graduation-cap{
  font-size: 2rem;
 }
 .fa-desktop{
  font-size: 3rem;
  cursor: pointer;
 }
 .fa-github{
  color: black;
  font-weight: bolder;
 }
 


/*#######################################################################*
 *                      Project Page CSS Styles                             *
 *#######################################################################*/

/*
 * **********************************
 *   Root css styles for home page
 * **********************************
 */

 #projects-body{
  display: flex;
  justify-content: space-between;
  height: 100%;
 }

 /*
 * **********************************
 *   projects styles for the page
 * **********************************
 */
 .projects-container{
  flex: 1;
  
 }
 .projects-items-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 10px;
 }
 .project{
  background-color: var(--white-darken-1);
  color: var(--text-color);
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px;
  box-shadow:inset 0 0 6px var(--top-bar-col);
  transition: all 350ms ease;
 }
 .project-link{
  text-decoration: none;
 }
 .project > h2 {
  color: white;
 }
 .project > p {
  color: gray;
  font-size: smaller;
 }

 .project:hover{
  box-shadow:inset 0 0 15px var(--top-bar-col);
 }

 /*
 * **********************************
 *   activityvstyles for the page
 * **********************************
 */
 .activity-container{
  flex: .35;
  background-color: var(--white-darken-1);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 20px;
  height: fit-content;
 }
 .activity-head{
  background-color: var(--top-bar-col);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 9px;
 }
 .activity-items-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  overflow: hidden;
  height: 63vh;
  overflow-y: scroll;
  padding: 20px;
 }
 .activity-items{
  border: 1px solid var(--top-bar-col);
  border-radius: 4px;
  padding: 9px;
 }

 .activity-profile{
  display: flex;
  position: relative;
  
 }
.activity-pic{
  height: 6vh;
  border: 1px solid var(--bg-test);
  border-radius: 60%;
  margin-right: 10px;
}
.activity-details{
  line-height: 1.3;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.activity-details > p{
  color: gray;
  font-size: smaller;
}
#activity-close-btn{
  background-color: transparent;
  border: none;
  margin-left: 20px;
  color: white;
  font-size: medium;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 350ms ease;
}
#activity-close-btn:hover{
  color: red;
  background-color: var(--top-bar-col);
}

/*#######################################################################*
 *                      About Page CSS Styles                             *
 *#######################################################################*/

/*
 * **********************************
 *   Root css styles for about page
 * **********************************
 */
 #about-container{
  display: flex;
  justify-content: space-between;
 }

 /*
 * **********************************
 *   About info styles for the page
 * **********************************
 */
 .about-info-container{
  flex: 1;
  margin-right: 20px;
 }
 .about-info-head > h4{
  font-size: large;
 }
 .about-infos{
  display: flex;
  justify-content: space-between;
 }

 .about-profession > h2{
  font-size: 6rem;
 }
 .about-profession > p{
  font-size: xx-large;
  color: gray;
 }
 .about-details{
  width: 70%;
  color: gray;
  line-height: 1.8;
 }
 .about-more-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-left: 10px;
  background-color: var(--white-darken-1);
  border-radius: 20px;
  margin-bottom: 80px;
  line-height: 1.8;
  box-shadow:inset 0 0 10px var(--top-bar-col);
  
 }
 .about-one > ul, .about-two > ul{
  padding: 10px;
  list-style: none;
 }
 .languages{
  margin-top: 20px;
  margin-bottom: 20px;
 }
 #dev-icon{
  font-size: 2.5rem;
  margin-right: 20px;
  margin-bottom: 20px;
 }
 .skills{
  color: var(--text-color);
  margin-top: 10px;
  font-size: 1.2rem;
 }

 /*
 * **********************************
 *   Achievements styles for the page
 * **********************************
 */
 .about-achievments{
  flex: .35;
  background-color: var(--white-darken-1);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--white-darken-1);
  height: fit-content;
 }
 .achievments-head{
  background-color: var(--top-bar-col);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
 }
 .achievments-items-container{
  padding: 20px;
 }
 .achievments-item{
  line-height: 1.8;
 }
 .achievments-item > h2{
  font-size: large;
 }
.achievments-item > span{
  font-size: x-large;
}

/*#######################################################################*
 *                   Contact Page CSS Styles                             *
 *#######################################################################*/

/*
 * **********************************
 *  Root css styles for Contact page
 * **********************************
 */
#contacts-container{
  display: flex;
  justify-content: space-between;
}
/*
 * **********************************
 *  Map css styles for Contact page
 * **********************************
 */
 .contacts-info-container{
  flex: 1;
 }
 .profiles-container{
  background-color:  var(--white-darken-1);
  border-radius: 3px;
  margin-top: 10px;
  color: gray;
  padding: 20px;
  box-shadow: inset 0 0 10px var(--top-bar-col);
 }
 .span-links{
  display: flex;
  align-items: center;
  margin: 60px 0 30px;
 }
 .span-links > i {
  margin-right: 10px;
 }
 .profiles{
  display: flex;
  align-items: center;
  line-height: 3.3;
  text-align: left;
 }
 .profiles > span{
  margin-right: 30px;
 }
  .social-links{
    margin-top: 20px;
  }
 .social-icons{
  list-style: none;
  display: flex;
  justify-content: space-between;
 }
 
 .contact-intro > h4{
  font-size: 1.3rem;
 }
 .hire-btn{
  padding: 15px;
  margin-top: 30px;
  cursor: pointer;
  width: 60%;
  font-size: 1.5rem;
  font-family: var(--font-fam);
  background-color: var(--top-bar-col);
  outline: none;
  border: none;
  color: white;
  transition: all 350ms ease;
 }
 .hire-btn:hover{
  opacity: .6;
 }

/*
 * **********************************
 *  Map css styles for Contact page
 * **********************************
 */
 iframe{
  margin-left: 20px;
  border-radius: 5px;
  border: 2px solid var(--top-bar-col);
  width: 500px;
  height: 500px;
 }


/*#######################################################################*
 *               Small Views Page CSS Styles                             *
 *#######################################################################*/

/*
 * **********************************
 *  Root  styles for Small views
 * **********************************
 */

 @media screen and (max-width: 1000px){
  /*
 * **********************************
 *  Root  styles for Small views
 * **********************************
 */
 .whatsapp{
  display: none;
 }
 .logo-title{
  font-size: 1rem;
 }
 .fa-desktop{
  font-size: 2rem;
 }
 
 .nav-links{
  display: none;
 }
 /*
 * **********************************
 *  project  styles for Small views
 * **********************************
 */
  .project-greeting > h2{
  font-size: smaller;
  }
  .activity-container{
    display: none;
    background-color: #00986f;
  }
  /*
 * **********************************
 *  contacts styles for Small views
 * **********************************
 */
 #contacts-container{
  display: flex;
  justify-content: none;
  flex-direction: column;
}
.contacts-info-container{
  width: 100%;
 }
 .span-links{
  margin: 30px 0 30px;
 }
 .hire-btn{
  padding: 10px;
  font-size: .9rem;
  width: 100%;
 }
 .contact-intro > h4{
  font-size: medium;
 }

 iframe{
  margin-top: 30px;
  width: 100%;
  height: 40vh;
  margin-left: 0;
 }
 footer > p, .footer{
  font-size: xx-small;
 }

  /*
 * **********************************
 *  About styles for Small views
 * **********************************
 */
 #about-container{
  flex-direction: column;
 }
 .about-info-head > h4{
  font-size: small;
 }
 .about-infos{
  flex-direction: column;
 }
 .about-profession{
  line-height: 1.7;
 }
 .about-profession > h2{
  font-size: 3.3rem;
 }
 .about-profession > p{
  font-size: large;
  color: gray;
 }
 .profession-title{
  font-size: 1.9rem;
 }
 .about-more-info{
  border-radius: 10px;
  margin-left: 0;
  margin-bottom: 40px;
 }
 .about-details{
  width: 100%;
  margin-bottom: 30px;
 }
 .achievments-items-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

  .achievments-item > h2{
  font-size: small;
 }
  .achievments-item > span{
    font-size: large;
  }
  /*
 * **********************************
 *  home styles for Small views
 * **********************************
 */

  #home-page-container{
    flex-direction: column;
  }
  .details{
  flex: 2;
 }
 .profile{
  margin-bottom: 20px;
  position: relative;
  box-shadow: none;
 }
  .profile-pic{
  height: 25vh;
  width: 100%;
 

 }
  .profession{
    padding: 5px;
  }
   .fa-graduation-cap {
    font-size: x-large;
   }
  .profession > p{
    font-size: small;
  }

  .greeting{
  font-size: medium;
 }

 .profile-name{
  font-size: 4.5rem;
 }
 #whoami{
  font-size: 1.2rem;
 }
 .contact-me-btn{
  padding: 10px;
 }
 #small-view{
  top: 10%;
 }
 #menu-btn{
  display: contents;
 }
.fa-github{
  color: var(--text-color);
}

 } 