{% extends 'MainApp/base.html' %}
{% load static %}

{% block title %} About-Me {% endblock title %}

<!-- About Main content block -->
{% block main %}
  <div id="about-container">
    <div class="about-info-container">
      <div class="about-info-head">
        <h4>Welcome To my About page <span><i class="fa-sharp fa-solid fa-face-smile fa-shake fa-2xl "></i></span> </h4>
      </div>
      <div class="about-infos">
        <div class="about-profession">
          <p>I am,</p>
          <h2 >A Software <br> Engineer</h2>
          <h3 class="profession-title" ></h3>
        </div>
        <div class="about-more-info">
          {% for about in abouts %}
          <div class="about-one">
            
            <ul>
              <span>Am, {{about.name}}</span>
              <li><span>></span> Website: <span class="span2">{{about.website}}</span> </li>
              <li><span>></span> Location: <span class="span2">{{about.location}}</span> </li>
              <li><span>></span> Phone: <span class="span2">{{about.phone}}</span> </li>
              <li><span>></span> Freelance: <span class="span2">{{about.freelance}}</span> </li>
            </ul>
          </div>
          <div class="about-two">
            <ul>
              <li><span>></span> Degree: <span class="span2">{{about.degree}}</span>  </li>
              <li><span>></span> Course: <span class="span2">{{about.course}}</span> </li>
              <li><span>></span> Institution: <span class="span2">{{about.school}}</span> </li>
              <li><span>></span> Studying: <span class="span2">{{about.study}}</span>  </li>
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
      {% for about in abouts %}
      <div class="about-details">
            <p>"{{about.about}}"</p>
      </div>
      <div>
        <img src="https://github.com/devicons/devicon/blob/master/icons/python/python-original-wordmark.svg" title="Python" alt="Python" width="40" height="40"/>&nbsp;
        <img src="https://github.com/devicons/devicon/blob/master/icons/java/java-original-wordmark.svg" title="Java" alt="Java" width="40" height="40"/>&nbsp;
        <img src="https://github.com/devicons/devicon/blob/master/icons/react/react-original-wordmark.svg" title="React" alt="React" width="40" height="40"/>&nbsp;
        <img src="https://github.com/devicons/devicon/blob/master/icons/django/django-plain.svg" title="Django" alt="Django" width="40" height="40"/>&nbsp;
        <img src="https://github.com/devicons/devicon/blob/master/icons/css3/css3-plain-wordmark.svg"  title="CSS3" alt="CSS" width="40" height="40"/>&nbsp;
        <img src="https://github.com/devicons/devicon/blob/master/icons/html5/html5-original.svg" title="HTML5" alt="HTML" width="40" height="40"/>&nbsp;
        <img src="https://github.com/devicons/devicon/blob/master/icons/javascript/javascript-original.svg" title="JavaScript" alt="JavaScript" width="40" height="40"/>&nbsp;
        <img src="https://github.com/devicons/devicon/blob/master/icons/mysql/mysql-original-wordmark.svg" title="MySQL"  alt="MySQL" width="40" height="40"/>&nbsp;
        <img src="https://github.com/devicons/devicon/blob/master/icons/nodejs/nodejs-original-wordmark.svg" title="NodeJS" alt="NodeJS" width="40" height="40"/>&nbsp;
        <img src="https://github.com/devicons/devicon/blob/master/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg" title="AWS" alt="AWS" width="40" height="40"/>&nbsp;
        <img src="https://github.com/devicons/devicon/blob/master/icons/git/git-original-wordmark.svg" title="Git" **alt="Git" width="40" height="40"/>
      </div>
      {% endfor %}
    </div>
    <div class="about-achievments">
      <div class="achievments-head">
        <h1><span><i class="fa-sharp fa-solid fa-trophy fa-bounce fa-xl"></i></span> Achievments</h1>
      </div>
      <div class="achievments-items-container">
        <div class="achievments-item">
          <h2>Happy Clients</h2>
          <span class="num" data_val="200">000</span>
        </div>
        <div class="achievments-item">
          <h2>Projects</h2>
          <span class="num" data_val="250">000</span>
        </div>
        <div class="achievments-item">
          <h2>Stars</h2>
          <span class="num" data_val="340">000</span>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}


