{% extends 'MainApp/base.html' %}
{% load static %}

{% block title %} About-Me {% endblock title %}

<!-- About Main content block -->
{% block main %}
  <div id="about-container">
    <div class="about-info-container">
      <div class="about-info-head">
        <h4>Welcome To my About page <span><i class="fa-sharp fa-solid fa-face-smile fa-shake fa-2xl "></i></span> </h4>
      </div>
      <div class="about-infos">
        <div class="about-profession">
          <p>I am,</p>
          <h2 >A Software <br> Engineer</h2>
          <h3 class="profession-title" ></h3>
        </div>
        <div class="about-more-info">
          {% for about in abouts %}
          <div class="about-one">
            
            <ul>
              <span>Am, {{about.name}}</span>
              <li><span>></span> Website: <span class="span2">{{about.website}}</span> </li>
              <li><span>></span> Location: <span class="span2">{{about.location}}</span> </li>
              <li><span>></span> Phone: <span class="span2">{{about.phone}}</span> </li>
              <li><span>></span> Freelance: <span class="span2">{{about.freelance}}</span> </li>
            </ul>
          </div>
          <div class="about-two">
            <ul>
              <li><span>></span> Degree: <span class="span2">{{about.degree}}</span>  </li>
              <li><span>></span> Course: <span class="span2">{{about.course}}</span> </li>
              <li><span>></span> Institution: <span class="span2">{{about.school}}</span> </li>
              <li><span>></span> Studying: <span class="span2">{{about.study}}</span>  </li>
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
      {% for about in abouts %}
      <div class="about-details">
            <p>"{{about.about}}"</p>
      </div>
      <div class="languages">
          <i class="devicon-python-plain-wordmark colored"></i>
          <i class="devicon-django-plain colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-react-original colored"></i>
          <i class="devicon-java-plain-wordmark colored"></i>
          <i class="devicon-mysql-plain-wordmark colored"></i>
          <i class="devicon-android-plain-wordmark colored"></i>
          <i class="devicon-linux-plain colored"></i>
          <i class="devicon-debian-plain-wordmark colored"></i>
          <i class="devicon-docker-plain-wordmark colored"></i>
      </div>
      {% endfor %}
    </div>
    <div class="about-achievments">
      <div class="achievments-head">
        <h1><span><i class="fa-sharp fa-solid fa-trophy fa-bounce fa-xl"></i></span> Achievments</h1>
      </div>
      <div class="achievments-items-container">
        <div class="achievments-item">
          <h2>Happy Clients</h2>
          <span class="num" data_val="200">000</span>
        </div>
        <div class="achievments-item">
          <h2>Projects</h2>
          <span class="num" data_val="250">000</span>
        </div>
        <div class="achievments-item">
          <h2>Stars</h2>
          <span class="num" data_val="340">000</span>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}


